.entity-profile-image-empty
{
  position:relative;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-width: 2px;
  border-radius: 1rem;
  border-style: groove;
  border-color: grey;
  background-color: white;
  color:grey;
  margin: 8px;
}

.label-profile-image
{
    position:relative;
    max-height: 300px;
    max-width: 300px;
    /* border-width: 2px;
    border-radius: 1rem;
    border-style: groove;
    border-color: grey;
    background-color: white;
    color:grey; */
  }

  .label-profile-image-small
{
    max-height: 150px;
    max-width: 150px;
    /* border-width: 2px;
    border-radius: 1rem;
    border-style: groove;
    border-color: grey;
    background-color: white;
    color:grey; */
  }

  .entity-array-image-container
  {
    display: flex;
    flex-direction: column;
  }

  .entity-array-image
  {
      max-height: 200px;
      max-width: 200px;
      margin: 8px;
      display: flex;
      align-items: center;
      justify-content: center;  
      border-width: 2px;
      border-radius: 1rem;
      border-style: groove;
      border-color: grey;
      background-color: white;
      color:grey;
      margin: 8px;
  }

  .entity-array-image-empty
  {
      position: relative;
      height: 150px;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;  
      border-width: 2px;
      border-radius: 1rem;
      border-style: groove;
      border-color: grey;
      background-color: white;
      color:grey;
      margin: 8px;
  }

  .td-no-wrap
  {
    white-space: nowrap;
  }

  td
  {
    vertical-align: top
  }

  td pre
  {  
    padding-top:0;
    margin-top:0;
  }      

  .td-bold
  {
    font-weight: bold;
  }